<!doctype html>
<html lang="en"  class="nojs">
  <head>{{>head}}</head>
  <body id="{{id}}" data-app="{{appUrl}}" data-appRoot="{{appRoot}}">
    {{>header}}
    <main class="main container-fluid" role="main"  id="mainContent" tabindex="-1">
	    <header>
	      <h1 class="page-title">{{title}}</h1>
	    </header>
      {{#content}}
        <div class="flex-container">
        {{#each nodes}}
          <article class="item" {{#if score}}data-score="{{score}}"{{/if}}>
            <div class="card">
              <a href="{{../../appUrl}}/series/{{this.route}}">{{this.label}}</a>
            </div>
          </article>
        {{/each}}
        </div>
      {{/content}}
    </main>
    {{>footer}}
    {{{closure}}}
  </body>
</html>
