<div class="item-list">
  {{#items}}
  <div class="item">
      <div class="thumbs">
        <a href="{{../app.appRoot}}/book/{{ss_identifer}}"><img class="img-responsive" src="{{ss_thumbnail}}" alt="" title="{{ss_title}}"/></a>
      </div>
      <div lang="en">
        <div class="md_title"><span class="md_label">Title:</span> <a href="{{../app.appRoot}}/book/{{ss_identifer}}">{{{ss_title}}}</a></div>                
        <div class="md_author"><span class="md_label">Author:</span> {{#each sm_author}}<span>{{this}}</span>{{/each}}</div>                        
        <div><span class="md_label">Publisher:</span> {{#each sm_publisher}}<span>{{this}}</span>{{/each}}</div>
        <div><span class="md_label">Place of Publication:</span> {{ss_publocation}}</div>                        
        <div><span class="md_label">Date of publication:</span> {{ss_pubdate}}</div>                        
        <div class="md_subjects"><span class="md_label">Subject:</span> {{#each sm_subject}}<a class="md_subject" href="{{../../app.appRoot}}/search?q={{this}}">{{this}}</a>{{/each}}</div>
        <div><span class="md_label">Provider:</span> {{#each sm_partner}}<span>{{this}}</span>{{/each}}</div>                   
      </div>
  </div>
  {{/items}}
</div>