
<!-- file: itemsHome.hbs -->
<h3>Featured Provider: Koninklijke Brill NV</h3>
<div class="item-list flex-container">
  {{#items}}
  <article class="item">
    <div class="thumbs">
      <a href="{{../app.appRoot}}/book/{{ss_identifer}}"><img class="img-responsive" src="{{ss_thumbnail}}" alt="" title="{{ss_title}}"/></a>
    </div>
    <h1 class="md_title"><a href="{{../app.appRoot}}/book/{{ss_identifer}}">{{ss_title}}</a></h1>
    <div class="md_author">{{#each sm_author}}<span>{{this}}</span>{{/each}}</div>
    <div class="md_series"><span class="md_label">Series:</span><span>Placeholder Series</span></div>
    <div  class="md_publisher"><span class="md_label">Publisher:</span> {{#each sm_publisher}}<span>{{this}}</span>{{/each}}, {{ss_publocation}}, {{ss_pubdate}}</div>
      <div class="md_provider"><span class="md_label">Provider:</span> {{#each sm_partner}}<span>{{this}}</span>{{/each}}</div>
     <div class="md_subjects"><span class="md_label">Subjects:</span> {{#each sm_subject}}<a class="md_subject" href="{{../../app.appRoot}}/search?q={{this}}">{{this}}</a>{{/each}}</div>
  </article>
  {{/items}}
</div>