<!doctype html>
<html lang="en" >
<head>{{>head}}</head>
<body id="{{id}}"  class="{{class}}"  data-app="{{appUrl}}" data-appRoot="{{appRoot}}">
  {{>header}}
  <div class="container-fluid">
    <div class="flex-container">
      {{#content}}
        <main class="main" role="main" id="mainContent" tabindex="-1">
        {{#main}}
          <h2  class="page-title">{{title}}</h2>
          <div class="maintext">
            {{{html}}}
          </div>
        {{/main}}
        </main>
      {{/content}}
    </div>
  </div>
  {{>footer}}
  {{{closure}}}
</body>
</html>
