<!doctype html>
<html lang="en" >
  <head>{{> head }}</head>
  <body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
    {{> header }}
	<main class="main container-fluid" role="main" data-tid="{{tid}}" id="mainContent" tabindex="-1">
	  <header>
	    <h1 class="page-title">{{title}}</h1>
	  </header>
    {{#content}}
	    <div>
	      <ul>
          {{#providers}}
            <li><a href="{{ ../../appUrl}}/providers/{{nid}}">{{label}}</a></li>
          {{/providers}}
        </ul>
	    </div>
    {{/content}}
    </main>
    {{> footer }}
    {{{ closure }}}
  </body>
</html>
